<h2 class="page-header">Zadat nový úkol</h2>
<form method="post" action="/newTask/newTask">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Název">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="description" placeholder="Popis">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="user" placeholder="Komu">
  </div>
  <button type="submit" class="btn btn-default">Zadat</button>
</form>